<div class="jumbotron">
  <a href="/"><img src="/logo.png" width=600 height=243></a>
  <p class="lead">恋愛を応援するアプリケーションです♡</p>
  <p>使用するためにはツーショットの写真を撮影している必要があります</p>
  <p class="lead">
    <a class="btn btn-primary btn-lg" href="/" role="button">トップ</a>
    <a class="btn btn-primary btn-lg" href="/photos/new" role="button">アプリへ</a>
  </p>
</div>
