<div class="jumbotron">
  <a href="/"><img src="/logo.png" width=600 height=243></a>
  <h1>1</h1>
  <p>使用するためにはツーショットの写真を撮影している必要があります</p>
  <p class="lead">まず自分の写真を何かしらの方法でブラウザ上に表示させます。</p>
  <hr class="my-4">
  <h1>2</h1>
  <p>次にブラウザ上に表示された画像で右クリックして検証を選択</p>
  <p>
    <img src="/2.png">
  </p>
  <hr class="my-4">
  <h1>3</h1>
  <p>
    検証を押すと画像のimgタグの要素が出てくるのでsrcの要素のURLをコピー
  </p>
  <p>
    <img src="/3.png">
  </p>
  <hr class="my-4">
  <h1>4</h1>
  <p>
    男の子と女の子の名前を入力してコピーしたURLをペースとして診断ボタンをクリック
  </p>
  <p>
    <img src="/4.png">
  </p>
  <hr class="my-4">
  <h1>5</h1>
  <p>
    結果が表示される
  </p>
  <p>
    <img src="/5.png">
  </p>
  <p class="lead">
    <a class="btn btn-primary btn-lg" href="/" role="button">トップ</a>
    <a class="btn btn-primary btn-lg" href="/photos/new" role="button">アプリへ</a>
  </p>
</div>
