<h1>LoveLove Diagnosis</h1>
<p>
  This is the top page for the
  <li><%= link_to("About", "/about") %></li>
  <li><%= link_to("アプリへ", "/photos/new") %></li>
  You can measure LOVE POWER among you and your lover.
</p>
