// Place all the styles related to the Photos controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
@import "bootstrap-sprockets";
@import "bootstrap";

html{

  background-image: url("/back.jpg");
}

.jumbotron{
  list-style-type: none;
  color: white !important;
  text-align: center;
  background-image: url("/back.jpg");
  .display-3{
    margin: 0 auto;

  }
  input{
    color: black !important;
  }
  .btn{
    color: white !important;
  }

}

.menu{
  display: flex;
  .new-top{
    flex-direction:row;
    font-size: 20px;
    width: 100px;
    height: 100px;
    border-radius: 50%;
    background-color: inherit !important;
    align-items: center;
    justify-content: center;
  }
}
